<!doctype html>
<html ng-app>
	<head>
	</head>
	<body>
		<form id="config-form" action="">
	      <label>Your Name     <input type="text" ng-model="user.name" name="displayName" placeholder="Thomas"/></label>
	      <label>SIP URI       <input type="text" ng-model="user.uri" name="uri" placeholder="sip:h7u6y0@178.62.211.128"/></label>
	      <label>Auth Username <input type="text" ng-model="user.id" name="authorizationUser" placeholder="h7u6y0"/></label>
	      <label>Password      <input type="password" ng-model="user.pwd" name="password" /></label>
	      <label>WS Server     <input type="text" ng-model="user.wsServer" name="wsServers" placeholder="ws://178.62.211.128:8080/ws"/></label>
	      <input type="submit" name="configSubmit" value="Connect" />
    	</form>
		<video id="remoteAudio" autoplay></video>
		<video id="localAudio" muted="muted"></video>
		<button id="endCall">End Call</button>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/sip.js/dist/sip.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/sip.js"></script>
	</body>
</html>
