body, input, textarea {
	font-family: 'Roboto';
	font-weight: 400;
}

.header-bar {
	z-index: 999;
	position: fixed;
	width: 100%;
}

.width--100 {
	width: 100%;
}

.video-room {
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
}

#composite-container {
	max-width: 640px;
	position: relative;
}

#composite-container.noPresentation {
	width: 90%;
}

#composite-container video {
	position: relative;
	z-index: 0;
}

#composite-container > .overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#composite-container > .overlay > table {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#composite-container > .overlay > table td {
	color: #eee;
	vertical-align: bottom;
	padding-bottom: 3%;
	width: 50%;
}

#presentation.noPresentation {
	width: 0;
	opacity: 0;
}

#composite-container.hasPresentation {
	width: 45%;
}

#presentation.hasPresentation {
	width: 45%;
	opacity: 1;
}

.bigger {
	width: 90% !important;
}

.smaller {
	width: 30% !important;
}

video {
	max-width: 90%;
}

@media screen and (max-width: 1023px) {
	.header-padding {
		height: 64px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}
@media screen and (min-width: 1024px) {
	.header-padding {
		height: 72px;
		padding-top: 12px;
		padding-bottom: 12px;
	}
}