<div class="header-bar card bgc-blue-grey-500 tc-white">
	<div class="toolbar">
		<div class="toolbar__left mr+++">
			<button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="leave()">
				<i class="mdi mdi-arrow-left"></i>
			</button>
		</div>

		<span class="toolbar__label fs-title">Room {{ roomName }}</span>

		<div class="toolbar__right">

			<!-- Presentation (Firefox) -->
			<lx-dropdown position="right" from-top ng-show="canPresent('firefox')">
				<button class="btn btn--l btn--white btn--icon" ng-disabled="presentation.disabled.general" lx-ripple lx-dropdown-toggle>
					<i class="mdi mdi-presentation"></i>
				</button>

				<lx-dropdown-menu ng-hide="presentation.disabled.general">
					<ul>
						<li><a class="dropdown-link dropdown-link--is-header">Give a presentation</a></li>
						
						<li class="dropdown-divider"></li>
						
						<li ng-hide="presentation.disabled.screen">
							<a class="dropdown-link" ng-click="share('screen')">
								<i class="mdi mdi-laptop"></i>
								<span>Screenshare</span>
							</a>
						</li>
						<li ng-hide="presentation.disabled.window">
							<a class="dropdown-link" ng-click="share('window')">
								<i class="mdi mdi-window-restore"></i>
								<span>Window share</span>
							</a>
						</li>
					</ul>
				</lx-dropdown-menu>
			</lx-dropdown>

			<!-- Presentation (Chrome) -->
			<button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="share('window')" ng-show="canPresent('chrome')" ng-disabled="presentation.disabled.general">
				<i class="mdi mdi-presentation"></i>
			</button>

			<!-- Mute / unmute -->
			<button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="volume.change()">
				<i class="mdi {{ volume.icon }}"></i>

			<!-- Users -->
			<button class="btn btn--l btn--white btn--icon btn-info btn-info-roompage" lx-ripple ng-click="toggleSidebar()">
				<i class="mdi mdi-information-outline"></i>
			</button>
		</div>
	</div>
</div>

<div class="sidebar bgc-grey-100">
	<div class="sidebar-menu">
		<!-- Make a call -->
        <div ng-show="lineAvailable">
            <span class="fs-subhead display-block p+ bgc-grey-200">Make a call (from {{ lineExtension }})</span>
            <div class="divider divider--dark"></div>

            <form ng-submit="invite(callId)" class="call-sidebar pr++ fs-subhead">
                <lx-text-field label="Phone number" fixed-label="true" icon="phone">
                    <input type="text" ng-model="callId">
                </lx-text-field>
            </form>
        </div>

		<div class="divider divider--dark"></div>

        <!-- Participant list -->
		<span class="fs-subhead display-block p+ bgc-grey-200">Online users</span>
        <div class="divider divider--dark"></div>
		<ul class="list mt participants">
			<li class="list-row" ng-repeat="participant in participantNames track by $index">
				<div class="list-row__primary">
					<i class="icon icon--s icon--grey icon--flat mdi mdi-message-video"></i>
				</div>

				<div class="list-row__content">
					<span class="display-block fs-subhead tc-black-2">{{ participant }}</span>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="header-padding"></div>

<div class="text-center sidebar-adaptive">
	<!-- Composite -->
	<div id="composite-container" class="container video-room noPresentation" ng-click="compositeVideoClick()">
		<video id="composite" height="auto" autoplay></video>
	<!--	<div class="overlay">
			<table></table>
		</div>-->
	</div>

	<!-- Presentation -->
	<div id="presentation-container" class="container video-room noPresentation" ng-click="presentationVideoClick()">
		<video id="presentation" height="auto" autoplay poster="img/transparent.png"></video>
		<div class="underlay" id="progress"></div>
		<div class="stop-overlay" ng-show="presentation.presenterIsMe">
			<button class="btn btn--m btn--red btn--fab" lx-ripple ng-click="stopPresenting()">
				<i class="mdi mdi-stop"></i>
			</button>
		</div>
	</div>
</div>
