<div class="header-bar card bgc-blue-grey-500 tc-white">
	<div class="toolbar">
		<div class="toolbar__left mr+++">
			<button class="btn btn--l btn--white btn--icon widescreen-hide" lx-ripple ng-click="toggleSidebar()">
				<i class="mdi mdi-menu"></i>
			</button>
			<button class="btn btn--l btn--white btn--icon btn--sidebar-off" lx-ripple ng-click="leave()">
				<i class="mdi mdi-arrow-left"></i>
			</button>
		</div>

		<span class="toolbar__label fs-title">
			<span>Room {{ roomName }} </span>
			<span class="smallscreen-hide">{{ lineAvailable ? '(' + lineExtension + ')' : '' }}</span>
		</span>

		<div class="toolbar__right">

			<form ng-submit="invite(callId)" ng-show="lineAvailable">
				<lx-search-filter filter-width="200px" class="search-to-phone" model="callId" position="right" theme="dark" closed></lx-search-filter>
			</form>

			<!-- Presentation (Firefox) -->
			<lx-dropdown position="right" from-top ng-show="canPresent('firefox')">
				<button class="btn btn--l btn--white btn--icon" ng-disabled="presentation.disabled.general" lx-ripple lx-dropdown-toggle>
					<i class="mdi mdi-presentation"></i>
				</button>

				<lx-dropdown-menu ng-hide="presentation.disabled.general">
					<ul>
						<li><a class="dropdown-link dropdown-link--is-header">Give a presentation</a></li>
						
						<li ng-hide="presentation.disabled.screen">
							<a class="dropdown-link" ng-click="share('screen')">
								<i class="mdi mdi-laptop"></i>
								<span>Screenshare</span>
							</a>
						</li>
						<li ng-hide="presentation.disabled.window">
							<a class="dropdown-link" ng-click="share('window')">
								<i class="mdi mdi-window-restore"></i>
								<span>Window share</span>
							</a>
						</li>
					</ul>
				</lx-dropdown-menu>
			</lx-dropdown>

			<!-- Presentation (Chrome) -->
			<button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="share('window')" ng-show="canPresent('chrome')" ng-disabled="presentation.disabled.general">
				<i class="mdi mdi-presentation"></i>
			</button>

			<lx-dropdown position="right" from-top>
				<button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle>
					<i class="mdi mdi-dots-vertical"></i>
				</button>

				<lx-dropdown-menu>
					<!-- Watch / Micro / Video + webcam -->
					<ul>
						<li><a class="dropdown-link dropdown-link--is-header">Stream settings</a></li>

						<li>
							<a class="dropdown-link" ng-click="watchOnly()">
								<i class="mdi mdi-eye"></i>
								<span>Watch only</span>
							</a>
						</li>
						<li>
							<a class="dropdown-link" ng-click="microOnly()">
								<i class="mdi mdi-microphone"></i>
								<span>Microphone only</span>
							</a>
						</li>
						<li>
							<a class="dropdown-link" ng-click="allTracks()">
								<i class="mdi mdi-webcam"></i>
								<span>Webcam + microphone</span>
							</a>
						</li>


						<li class="dropdown-divider"></li>

						<!-- Mute / unmute -->
						<li><a class="dropdown-link dropdown-link--is-header">Conference volume</a></li>

						<li>
							<a class="dropdown-link" ng-click="volume.change()">
								<i class="mdi {{ volume.icon }}"></i>
								<span>{{ volume.muted ? 'Unmute' : 'Mute' }}</span>
							</a>
						</li>

						<!-- Leave room -->
						<li class="dropdown-divider widescreen-hide"></li>
						<li class="widescreen-hide">
							<a class="dropdown-link" ng-click="leave()">
								<i class="mdi mdi-exit-to-app"></i>
								<span>Leave room</span>
							</a>
						</li>
					</ul>
				</lx-dropdown-menu>
			</lx-dropdown>
		</div>
	</div>
</div>

<div class="sidebar bgc-grey-100">
	<div class="sidebar-menu">
		<!-- Room information -->
		<div class="widescreen-hide">
			<span class="fs-subhead display-block p+ bgc-grey-200">Information</span>
			<div class="divider divider--dark"></div>
			<ul class="list mt mb participants">
				<li class="list-row">
					<div class="list-row__primary">
						<i class="icon icon--s icon--grey icon--flat mdi mdi-information-outline"></i>
					</div>

					<div class="list-row__content">
						<span class="display-block fs-subhead tc-black-2">Name: {{ roomName }}</span>
					</div>
				</li>

				<li class="list-row" ng-show="lineAvailable">
					<div class="list-row__primary">
						<i class="icon icon--s icon--grey icon--flat mdi mdi-phone-in-talk"></i>
					</div>

					<div class="list-row__content">
						<span class="display-block fs-subhead tc-black-2">No.: {{ lineExtension }}</span>
					</div>
				</li>
			</ul>
		</div>

        <!-- Participant list -->
		<div class="divider divider--dark"></div>
		<span class="fs-subhead display-block p+ bgc-grey-200">Online users</span>
        <div class="divider divider--dark"></div>
		<ul class="list mt mb participants">
			<li class="list-row" ng-repeat="participant in participantNames track by $index">
				<div class="list-row__primary">
					<i class="icon icon--s icon--grey icon--flat mdi mdi-message-video"></i>
				</div>

				<div class="list-row__content">
					<span class="display-block fs-subhead tc-black-2">{{ participant }}</span>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="header-padding"></div>

<div class="text-center sidebar-adaptive">
	<!-- Composite -->
	<div id="composite-container" class="container video-room noPresentation" ng-click="compositeVideoClick()">
		<video id="composite" height="auto" autoplay></video>
	</div>

	<!-- Presentation -->
	<div id="presentation-container" class="container video-room noPresentation" ng-click="presentationVideoClick()">
		<video id="presentation" height="auto" autoplay poster="img/transparent.png"></video>
		<div class="underlay" id="progress"></div>
		<div class="stop-overlay" ng-show="presentation.presenterIsMe">
			<button class="btn btn--m btn--red btn--fab" lx-ripple ng-click="stopPresenting()">
				<i class="mdi mdi-stop"></i>
			</button>
		</div>
	</div>
</div>
