kms6:
  build: ./kms6
  restart: always
  net: "host"
  container_name: kms6
  volumes:
    - ./conf/WebRtcEndpoint.conf.ini:/etc/kurento/modules/kurento/WebRtcEndpoint.conf.ini
kurento-agent:
  build: ./kurento-agent
  restart: always
  container_name: kurento-agent
  net: "host"
  volumes:
    - ./conf/application.yml:/webrtc/kurento-agent/config/application.yml
  volumes_from:
    - kms6
upload-speed-tester:
  build: ./upload-speed-tester
  restart: always
  net: "host"
  container_name: upload-speed-tester
angular-webpage:
  build: ./angular-webpage
  restart: always
  net: "host"
  container_name: angular-webpage
  volumes:
    - ./conf:/conf/
