<div class="header-bar card bgc-blue-grey-500 tc-white">
	<div class="toolbar">
		<div class="toolbar__left mr+++">
			<button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="leave()">
				<i class="mdi mdi-arrow-left"></i>
			</button>
		</div>

		<span class="toolbar__label fs-title">Room {{ roomName }}</span>

		<div class="toolbar__right">

			<!-- Share -->
			<lx-dropdown position="right" from-top ng-show="canPresent()">
				<button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle>
					<i class="mdi mdi-share"></i>
				</button>

				<lx-dropdown-menu>
					<ul>
						<li><a class="dropdown-link dropdown-link--is-header">Share</a></li>
						<li class="dropdown-divider"></li>
						<li><a class="dropdown-link" ng-click="share('screen')">Screenshare</a></li>
						<li><a class="dropdown-link" ng-click="share('window')">Window share</a></li>
					</ul>
				</lx-dropdown-menu>
			</lx-dropdown>

			<!-- Users -->
			<lx-dropdown position="right" from-top>
				<button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle>
					<i class="mdi mdi-account-network"></i>
				</button>
				<lx-dropdown-menu>
					<ul>
						<li><a class="dropdown-link dropdown-link--is-header">Online users</a></li>
						<li class="dropdown-divider"></li>
						<li ng-repeat="participant in participantNames"><a class="dropdown-link">{{ participant }}</a></li>
					</ul>
				</lx-dropdown-menu>
			</lx-dropdown>

			<!-- Mute -->
			<button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="mute()" ng-show="!muted">
				<i class="mdi mdi-volume-off"></i>
			</button>

			<!-- Unmute -->
			<button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="unmute()" ng-show="muted">
				<i class="mdi mdi-volume-high"></i>
			</button>
		</div>
	</div>
</div>

<div class="header-padding"></div>

<div class="text-center">
	<!-- Composite -->
	<div id="composite-container" class="container video-room noPresentation" ng-click="changeCompositeSize()">
		<video id="composite" height="auto" autoplay></video>
		<div class="overlay">
			<table></table>
		</div>
	</div>

	<!-- Presentation -->
	<div id="presentation-container" class="container video-room noPresentation" ng-click="changePresentationSize()">
		<video id="presentation" height="auto" autoplay poster="img/transparent.png"></video>
		<div class="underlay" id="progress" style="color: #000">OKapi</div>
	</div>
</div>

<button ng-click="stopPresenting()">Stop</button>