body, input, textarea {
	font-family: 'Roboto';
	font-weight: 400;
}

.header-bar {
	z-index: 999;
	position: fixed;
	width: 100%;
}

.width--100 {
	width: 100%;
}

.video-room {
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
}

.container {
	position: relative;
}

#composite-container {
	max-width: 640px;
}

#composite-container.noPresentation {
	width: 90%;
}

video {
	position: relative;
	z-index: 0;
}

#composite-container .overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#composite-container table {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#composite-container table td {
	color: #eee;
	vertical-align: bottom;
	padding-bottom: 3%;
	width: 50%;
}

.alone {
	width: 100% !important;
}

#presentation-container .underlay {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
}

.stop-overlay {
	position: absolute;
	top: 100%;
	left: 45%;
	z-index: 1;
}

#presentation-container.noPresentation {
	width: 0;
	opacity: 0 !important;
}

.hasPresentation {
	max-width: 45%;
	opacity: 1;
}

.bigger {
	max-width: 90% !important;
}

.smaller {
	max-width: 30% !important;
}

.dialog__content {
	font-size: .9em;
}

video {
	max-width: 90%;
}

.playing {
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	background: #000;
}

.text-field:after {
	background-color: #607d8b;
}

.text-field.text-field--has-error:after {
	background-color: #f44336;
}

.text-field--is-focused .text-field__label,.text-field--is-focused.text-field--dark-theme .text-field__label {
	color: #607d8b !important;
}

.sidebar {
	z-index: 998;
	width: 260px;
	border-left: solid 1px #ddd;
	background-color: #fff;
	-webkit-transition-property: box-shadow, -webkit-transform;
	-moz-transition-property: box-shadow, -moz-transform;
	transition-property: box-shadow, transform;
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	overflow: auto;
	box-shadow: 4px 0 9px -7px rgba(0,0,0,0.6);
	position: fixed;
	bottom: 0;
}

.participants .list-row__primary {
	width: 46px;
}

.search-to-phone .mdi-magnify:before {
    content: "\f477";
}

.toolbar__label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.radio-button__label:after {
    color: #607D8B !important;
}

.cursor-pointer {
	cursor: pointer;
}

.card {
    overflow: inherit;
}

@media screen and (max-width: 1023px) {
    .btn--sidebar-off {
        display: none;
    }

	.header-padding {
		height: 75px;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.sidebar {
		top: 56px;
		-ms-transform: translate(-266px);
		-moz-transform: translate(-266px);
		-webkit-transform: translate(-266px);
		transform: translate(-266px);
	}
    
    .smallscreen-hide {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .widescreen-hide {
        display: none;
    }

	.header-padding {
		height: 87px;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.sidebar-adaptive {
		padding-left: 260px;
	}

    /* TODO */
	.btn-info-roompage {
		display: none;
	}

	.sidebar {
		top: 62px;
		-ms-transform: translate(0px) !important;
		-moz-transform: translate(0px) !important;
		-webkit-transform: translate(0px) !important;
		transform: translate(0px) !important;
	}
}